<% provide(:submit_text, "Save changes") %>

 <!-- render 'form' -->

<div id="comment-form">
    <%= form_for(@comment) do |f| %>
      <%= f.label :body, "Body" %>
      <%= f.text_area :body, value: !!@body ? @body : "" %>
      <%= f.submit yield(:submit_text), :disable_with => 'Submiting...' %>
    <% end %>
  </div>
